.container {
    width: 500px;
    margin: 30px auto;
    }
    
    .panel {
    display: flex;
    }
    
    input {
    margin-right: 10px;
    }
    
    ul {
    list-style: none;
    margin-top: 10px;
    padding-left: 0;
    }
    
    ul li {
    position: relative;
    }
    
    .remove {
    position: absolute;
    right: 20px;
    }

    /* класс зачеркивания выполненного пункта*/
    .done{
        text-decoration: line-through;
        color: gray;
    }

    /* положение кнопки отмены обновления содержимого пункта*/
    .cancel-update-mode{
        color: rgba(255, 255, 255, 0);
        position: relative;
        right: 40px;
        top: -2px;
        font-size: 24px;
    }

    /* класс редактирования пункта*/
    .edit{
        background-color:lightgrey;
    }